@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800&display=swap");

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) { */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
/* } */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      z rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-color: #222222;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(80%);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(80%);
}

/* Below css is for scrollbar for filters in  */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
